::ng-deep{
   .ngx-pagination{
      padding-left: 0rem;
   }
   
   .form-select {
      &:focus{
         border: 1px solid #ced4da;
         outline: 0;
         box-shadow: none;
      }
   }
   
   .btn{
      &:focus{
         box-shadow: none !important;
      }
   }
}

.table-container {
   margin-bottom: 1rem;

   .table{
      table-layout: fixed;
      min-width: 600px;

      th{
         white-space: nowrap;
      }
      td{
         word-wrap: break-word;
      }

      .avatar-col{
         width: 80px !important;
      }
   }
   
   .name{
      cursor: pointer; 
      text-decoration: underline;
   }
   
   .sort-icon{
      display: inline;
      margin-left: 0.1rem;
      font-size: 0.7rem;
   }
   .avatar{
      width: 60px;
      height: 60px;
      cursor: pointer;
      border-radius: 30px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
  }

   @media(max-width: 800px){
      overflow: hidden;
      overflow-x: overlay;
   }
}

.pagination{
   display: flex;
   justify-content: center;
}