::ng-deep .ngx-pagination{
   padding-left: 0rem;
}

.table-container {
   margin-bottom: 1rem;

   th{
      white-space: nowrap;
   }
   tr{
      cursor: pointer; 
   }
   .sort-icon{
      display: inline;
      margin-left: 0.1rem;
      font-size: 0.7rem;
   }
   .avatar{
      width: 60px;
      height: 60px;
      border-radius: 30px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
  }

   @media(max-width: 800px){
      overflow: hidden;
      overflow-x: overlay;
   }
}

.pagination{
   display: flex;
   justify-content: center;
}