th{
   white-space: nowrap;
}
tr{
   cursor: pointer; 
}
.sort-icon{
   display: inline;
   margin-left: 3px;
   opacity: 0;
}
.column-head{
   &:hover{
      .sort-icon{
         opacity: 1;
      }
   }
}