<div class="input-group mb-4">
    <select [formControl]="selectedCompany" class="form-select" id="inputGroupSelect04">
    <option selected [ngValue]="null">Choose company</option>
    <option *ngFor="let company of companies | async" [ngValue]="company.name">{{ company.name }}</option>
    </select>
    <button class="btn btn-secondary" type="button" (click)="removeFilter()">Remove filter</button>
</div>

<div class="table-container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="avatar-col"></th>
                <th (click)="sortList('name')" class="column-head">
                    Name
                    <fa-icon [icon]="sortIcon('name')" class="sort-icon"></fa-icon>
                </th>
                <th (click)="sortList('username')" class="column-head">
                    Username
                    <fa-icon [icon]="sortIcon('username')" class="sort-icon"></fa-icon>
                </th>
                <th (click)="sortList('email')" class="column-head">
                    Email
                    <fa-icon [icon]="sortIcon('email')" class="sort-icon"></fa-icon> 
                </th>
                <th (click)="sortList('address')" class="column-head">
                    Address
                    <fa-icon [icon]="sortIcon('address')" class="sort-icon"></fa-icon>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users | async | paginate: { itemsPerPage: 3, currentPage: p }">
                <td class="avatar-col">
                    <div
                        class="avatar"
                        (click)="openUserCard(user.id)"
                        [ngStyle]="{backgroundImage:'url(https://via.placeholder.com/120x160)'}"
                    ></div>
                </td>
                <td><div (click)="openUserCard(user.id)" class="name">{{ user.name }}</div></td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.address | pipeCreateAddressLine }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="pagination">
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
