<div class="input-group mb-4">
    <select [formControl]="selectedCompany" class="form-select" id="inputGroupSelect04">
    <option selected [ngValue]="null">Choose company</option>
    <option *ngFor="let company of companies | async" [ngValue]="company.name">{{ company.name }}</option>
    </select>
    <button class="btn btn-outline-secondary" type="button" (click)="removeFilter()">Remove filter</button>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th (click)="sortList('name')" (mouseover)="getIcon('name')" class="column-head">
                Name
                <fa-icon [icon]="sortUp" class="sort-icon"></fa-icon>
            </th>
            <th (click)="sortList('username')" (mouseover)="getIcon('username')" class="column-head">
                Username
                <fa-icon [icon]="sortIcon" class="sort-icon"></fa-icon> 
            </th>
            <th (click)="sortList('email')" (mouseover)="getIcon('email')" class="column-head">
                Email
                <fa-icon [icon]="sortIcon" class="sort-icon"></fa-icon>  
            </th>
            <th (click)="sortList('name')" (mouseover)="getIcon('address')" class="column-head">
                Address
                <fa-icon [icon]="sortIcon" class="sort-icon"></fa-icon>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users | async | paginate: { itemsPerPage: 3, currentPage: p }" [user]="user" (click)="openUserCard(user.id)"></tr>
    </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
