<button class="btn btn-secondary btn-sm mb-3" (click)="back()">
    Назад к списку
</button>
<div class="card user-card mb-3">
    <div class="card-body">
        <div class="avatar-wrap">
            <div
                class="avatar"
                [ngStyle]="{backgroundImage:'url(https://via.placeholder.com/120x160)'}"
            ></div> 
        </div>
        <div class="user-info-wrap">
            <div class="user-card-item">
                <span class="item-title">name</span>
                <span class="item-value">{{ name }}</span>
            </div>
            <div class="user-card-item">
                <span class="item-title">username</span>
                <span class="item-value">{{ username }}</span>
            </div>
            <div class="user-card-item">
                <span class="item-title">email</span>
                <span class="item-value">{{ email }}</span>
            </div>
            <div class="user-card-item">
                <span class="item-title">address</span>
                <span class="item-value">{{ address | pipeCreateAddressLine }}</span>
            </div>
        </div>
        
    </div>
</div>
<ul class="list-group user-todos">
    <li *ngFor="let todo of todos" class="list-group-item todo-item">
        <div class="todo-id">{{ todo.id }}</div>
        <div class="todo-title">{{ todo.title }}</div>
        <div class="form-check todo-status">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="todo.completed" disabled>
            <label class="form-check-label" for="flexCheckChecked">
                Completed
            </label>
        </div>
    </li>
</ul>